header{
    margin: 0 auto;
    .addictional{
       display: flex;
       justify-content: end;
       background-color: $primary;
       padding: 0;
       color: white;
       height: 40px;
    }

    .navbar{

        display: flex;
        justify-content: space-around;
        figure{
            text-align: center;
            padding-top: 5px;
        }
    }

    ul{
        display: flex;
        align-items: center;
        padding: 0;
        margin: 50px 0;
        li{
            list-style: none;
            font-weight: bold;
            a{
                padding: 10px;
            }
        }
    }
}